#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em;
}

/*.header-container{
  display:flex;
  justify-content: space-between;
}*/

/*HEADER*/
.logo{
  align-self: center;
}

/*.menu-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/

.menu-items li{
  list-style-type: none;
}

.menu-items li a{
  padding: 1em;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.3em;
  color: #434343;
}

.wallet-button{
  border:none;
  color: #fff;
  padding: 1em 3em;
  font-size: 0.9em;
  font-family: 'Red Rose', cursive;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border-radius: 10px;
}



/*HOME*/
.text-header{
  font-style: normal;
  font-weight: 400;
  font-size: 3.5em;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #434343;
}

.home-text{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 35px;
  color: #434343;
}

.bold-text{
  font-size: 56px;
  line-height: 140%;
  font-weight: 500;
  letter-spacing: -0.02em;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.home-image{
  margin: 4em 0 0 0;
}

/*FIX THIS*/
@media screen and (min-width: 768px) {
  .header-container{
    display:flex;
    justify-content: space-between;
  }

  .menu-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .landing-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .text{
    width:60%;
    padding: 0 2em 0 0;
  }

  .home-image{
    width: 40%;
    padding: 0 0 0 2em;
  }
}