#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em;
}

/*.header-container{
  display:flex;
  justify-content: space-between;
}*/

.logo{
  align-self: center;
}

/*.menu-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/

.menu-items li{
  list-style-type: none;
}

.menu-items li a{
  padding: 1em;
  text-decoration: none;
  font-family: 'Red Rose', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #434343;
}

.wallet-button{
  border:none;
  color: #fff;
  padding: 1em 3em;
  font-size: 0.9em;
  font-family: 'Red Rose', cursive;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border-radius: 10px;
}


/*FIX THIS*/
@media screen and (min-width: 768px) {
  .header-container{
    display:flex;
    justify-content: space-between;
  }

  .menu-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}